/* First css */
@charset "UTF-8";
body {
    margin:auto; /* för att centerera */
    width: 860px;
    font-family: sans-serif;
    font-size: 100%; /* Den är onödigt, men i framtiden kommer jag kanske ändra det !!! */
    /* background-color: lightyellow; */
}
.startpage > header {
    text-align:center;
}
section, header, footer {
    outline: 1px solid red;
    color: rebeccapurple;
}
.startpage > header  h1 {
    font-size: 500%;  /* Massive size here */
    /* background-color:black; */
}
.startpage p.tagline {
    font-size: 120%;
    padding: 0.5em;  /* Avståndet till kanten */
    border-top: 3px double #00af64;
    border-bottom: 3px double #00af64;
}
.startpage > section {
    display: inline-block;
    width: 20%;
    margin-right: 6%;
    vertical-align: top;
}
.startpage > section:last-of-type {
    margin-right: 0%;
}
.startpage > section > h2 {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #f5f5f5;
    text-align: center;
}
footer {
    display:block;
    margin-top: 3em;
    text-align: center;
    color: #999;
}




/* ellipse {
    /* fill:brown; */
    /* fill:rgba(10, 10, 10, 0.5); */
/* } */ */

